<header>
	<nav class="navbar">
		<div class="container-fluid">
			<a class="navbar-brand" href="/">
				<img
					src="images/Circle-icons-calculator.svg"
					alt=""
					width="30"
					height="24"
					class="d-inline-block align-text-top"
				/>
				Calculadora IRPF - MEI
			</a>
		</div>
	</nav>
</header>
