</html><!DOCTYPE html>
<html lang="pt-BR">
	<head>
		<%- include('includes/head.ejs', { title: 'Página não econtrada!' }) %>
	</head>
	<body>
		<%- include('includes/header.ejs') %>

    <main>
      <h1>Página não encontrada!</h1>
      <p>Não foi possível encontrar essa página!</p>
    </main>

		<%- include('includes/footer.ejs') %>
	</body>
</html>
