</html><!DOCTYPE html>
<html lang="pt-BR">
	<head>
		<%- include('includes/head.ejs', { title: 'Erro!' }) %>
	</head>
	<body>
		<%- include('includes/header.ejs') %>

    <main>
      <h1>Ocorreu um erro!</h1>
      <p>Alguma coisa deu errado - tente mais tarde novamente!</p>
    </main>

		<%- include('includes/footer.ejs') %>
	</body>
</html>
