<!DOCTYPE html>
<html lang="pt-BR">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
			rel="stylesheet"
		/>
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
			crossorigin="anonymous"
		/>
		<link rel="stylesheet" href="/public/styles/styles.css" />
		<script src="/public/script/base.js" defer></script>
		<title>Calculadora IRPF - MEI</title>
	</head>
	<body>
		<main>
			<div class="border">
				<h1>Calculadora Declaração IRPF - MEI</h1>
				<h4>Ano-Calendário de 2021 - Exercício de 2022</h4>
				<h6>
					Última atualização em 10/08/2022 |
					<a
						href="http://normas.receita.fazenda.gov.br/sijut2consulta/link.action?idAto=123084#:~:text=DISPOSI%C3%87%C3%83O%20PRELIMINAR-,Art.,pessoa%20f%C3%ADsica%20residente%20no%20Brasil."
					></a
					>IN RFB n.2065
				</h6>

				<!-- Receita Bruta Anual  -->
				<section class="container faturamento">
					<h2>Insira o valor da Receita Bruta Anual</h2>

					<div class="items verde">
						<div>
							<h5>Prestação de Serviços</h5>
						</div>
						<input
							class="moneyInput"
							type="text"
							placeholder="R$ 0,00"
							data-js="money"
							id="serviços"
						/>
					</div>

					<div class="items verde">
						<div>
							<h5>
								Comércio, Indústria e<br />
								Transporte de Cargas
							</h5>
						</div>
						<input
							class="moneyInput"
							type="text"
							placeholder="R$ 0,00"
							data-js="money"
							id="comércio"
						/>
					</div>

					<div class="items verde">
						<div>
							<h5>Transporte de Passageiros</h5>
						</div>
						<input
							class="moneyInput"
							type="text"
							placeholder="R$ 0,00"
							data-js="money"
							id="transporte"
						/>
					</div>
				</section>

				<!-- Despesas Anuais  -->
				<section class="container despesas">
					<h2>Insira o valor das Despesas Anuais</h2>

					<div class="items vermelho">
						<h5>
							Pró-labore, DAS, Mercadorias, Aluguel, Água, Luz, Tel.<br />
							<!-- <span
								>(As despesas precisam estar no CNPJ da empresa! As duas despesas mais comuns são o
								DAS, pago mensalmente por todo dono de uma MEI e o Pró-labore. Você pode declarar
								até 1 salário mínimo de Pró-labore por mês sem pagar nada a mais de imposto, pois já
								estão sendo pagos)
							</span> -->
						</h5>

						<input
							class="moneyInput"
							type="text"
							placeholder="R$ 0,00"
							data-js="money"
							id="despesas"
						/>
					</div>
				</section>

				<!-- Radio Checkbox  -->
				<section class="container checkbox">
					<h2>Você se enquadra em alguma dessas opções como Pessoa Física no ano de 2021?</h2>
					<div class="items radiobox">
						<ul>
							<li>Recebeu rendimentos isentos acima de R$ 40.000,00?</li>
							<li>Realiza operações na bolsa de valores?</li>
							<li>Obeteve receita bruta superior a R$ 142.798,50 em atividade rural?</li>
							<li>Possui bens no valor acima de R$ 300.000,00?</li>
							<li>Vendeu imóveis com isenção de IR?</li>
						</ul>

						<div class="custom-radio">
							<div class="form-check">
								<input
									class="form-check-input"
									type="radio"
									name="myRadioField"
									id="radio-sim"
									value="option1"
								/>
								<label class="radio form-check-label" for="radio-sim"> Sim (deve declarar) </label>
							</div>
							<div class="form-check">
								<input
									class="form-check-input"
									type="radio"
									name="myRadioField"
									id="radio-nao"
									value="option1"
									checked="checked"
								/>
								<label class="radio form-check-label" for="radio-nao"> Não </label>
							</div>
						</div>
					</div>
				</section>

				<!-- Resultado  -->
				<section class="container lucro">
					<h2>Resultado</h2>

					<div class="items azul">
						<h5>Receita Bruta Anual</h5>
						<p class="resultadosValue" id="receita-bruta-apurado">R$ 0,00</p>
					</div>

					<div class="items azul">
						<h5>
							Lucro Apurado<br />
							<span>(Receita Bruta - Despesas)</span>
						</h5>
						<p class="resultadosValue" id="lucro-apurado">R$ 0,00</p>
					</div>

					<div class="items azul">
						<h5>
							Lucro/Rendimento Isento<br />
							<span>(32% da Prestação de serviço, 8% do comércio e 16% de transporte)</span>
						</h5>

						<p class="resultadosValue" id="lucro-isento">R$ 0,00</p>
					</div>

					<div class="items azul">
						<h5>
							Lucro/Rendimento Tributável<br />
							<span>(Lucro Apurado menos Rendimento isento)</span>
						</h5>
						<p class="resultadosValue" id="lucro-tributável">R$ 0,00</p>
					</div>

					<div class="items azul">
						<h5>Declaração Anual do IRPF OBRIGATÓRIA</h5>
						<p>
							O Rendimento tributável ficou superiro a R$ 28.559,70. Sendo assim é necessário seguir
							os passos a seguir para fazer sua declaração.
						</p>
					</div>
				</section>
			</div>
		</main>

		<footer>
			<div>
				<nav>
					<a href="#">Contato</a> |
					<a href="#">Política de Privacidade</a>
				</nav>
				<p>© Copyright 2022 - Calculadora IRPF-MEI</p>
			</div>
		</footer>
	</body>
</html>
