</html><!DOCTYPE html>
<html lang="pt-BR">
	<head>
		<%- include('includes/head.ejs', { title: 'Política de Privacidade' }) %>
	</head>
	<body>
		<%- include('includes/header.ejs') %>

    <main>
      <h1>Política de Privacidade!</h1>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fuga, dicta aperiam unde eligendi accusamus quo nam ducimus recusandae sint maxime sapiente, tempore labore suscipit, odit similique libero quaerat doloribus atque.</p>
    </main>

		<%- include('includes/footer.ejs') %>
	</body>
</html>
