/* ------------- Library ------------- */

:root {
	--black: #000;
	--white: #fff;
	--gray: hsl(208, 7%, 46%);
	--gray-dark: hsl(210, 10%, 23%);
	--gray-100: hsl(210, 17%, 98%);
	--gray-200: hsl(210, 16%, 93%);
	--gray-300: hsl(210, 14%, 89%);
	--gray-400: hsl(210, 14%, 83%);
	--gray-500: hsl(210, 11%, 71%);
	--gray-600: hsl(210, 7%, 46%);
	--gray-700: hsl(210, 9%, 31%);
	--gray-800: hsl(210, 10%, 23%);
	--gray-900: hsl(210, 11%, 15%);
	--green: hsl(152, 69%, 31%);
	--red: hsl(354, 70%, 54%);
	--link-color: #1567af;
	--link-hover-color: #0c408c;
}

/* The real magic starts with calc in CSS - so you can e.g. do something like: Make buttons slightly darker on hover/focus by "calc(var(--lightness) - 100)". */

/* ------------- Body ------------- */

html {
	font-size: 62.5%;
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	flex-direction: column;
	height: 100vh;
	font-size: 1.6rem;
	line-height: 1.47059;
	letter-spacing: 0.022em;
	font-family: 'Roboto', sans-serif;
	color: var(--gray-800);
	font-style: normal;
	background: #f4f4f6;
}

main {
	flex-grow: 1;
}

/* ------------- Normal Tags ------------- */

h1 {
	margin-bottom: 7px;
}

h4 {
	color: var(--gray-800);
	font-weight: 500;
}

h6 {
	color: var(--gray-700);
	font-weight: 400;
}

a {
	color: var(--link-color);
	text-decoration: none;
}

a:hover {
	color: var(--link-hover-color);
}

/* ------------- Navbar ------------- */

.navbar {
	height: 56px;
	width: 100%;
	display: flex;
	background-color: var(--gray-800);
}

.navbar-container {
	width: 1000px;
	margin: auto;
	display: flex;
	padding: 0 16px;
}

.navbar-item {
	display: flex;
	padding: 8px;
	margin-right: 7px;
}

.navbar-item p {
	font-size: 18px;
	font-weight: 700;
	color: var(--gray-200);
	margin-left: 4px;
}

/* ------------- Footer ------------- */

footer {
	width: 100%;
	padding: 25px 0 20px 0;
	text-align: center;
	background-color: var(--gray-400);
}

footer nav {
	margin: 10px 0;
	font-size: 1.3rem;
}

footer p {
	font-size: 1.2rem;
	color: var(--gray-700);
}
